@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  width: 100vw;
  font-family: 'Sulphur Point', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.contact {
  background: linear-gradient(320.54deg, #00069F 0%, #120010 72.37%), linear-gradient(58.72deg, #69D200 0%, #970091 100%), linear-gradient(121.28deg, #8CFF18 0%, #6C0075 100%), linear-gradient(121.28deg, #8000FF 0%, #000000 100%), linear-gradient(180deg, #00FF19 0%, #24FF00 0.01%, #2400FF 100%), linear-gradient(52.23deg, #0500FF 0%, #FF0000 100%), linear-gradient(121.28deg, #32003A 0%, #FF4040 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);
background-blend-mode: screen, color-dodge, color-burn, screen, overlay, difference, color-dodge, normal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 10px;
  border: 3px solid rgb(255 245 238);
  transition: .3s;
}

#main {
  line-height: 1;
}

#active {
  width: 0;
}


a {
  position: relative;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.2px;
  border-radius: 4px;
  background-color: #434b34;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.dark a::before {
  background-color: #f7f7ee;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#aboutUs {
  background-image: url(images/) 
}

#about {
  line-height: 1.2;
}


